@media (max-width: 768px) {
    .registration-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .registration-title {
        width: 100%;
        padding: 10px 15px;
    }
    .registration {
        display: block;
    }
    .registration-title__text {
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        -webkit-writing-mode: unset;
            -ms-writing-mode: unset;
                writing-mode: unset;
    }
    .registration-form {
        width: 100%;
    }
    .registration {
        height: auto;
    }
    .registration-wrap {
        width: 100%;
        height: auto;
    }
    .registration-form__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .form-item {
        width: 100%;
    }
    .select-item {
        width: 30%;
    }
    .registration-form__row {
        position: static;
        padding-right: 0;
    }
    .registration-form__wrap > * {
        margin: 5px 0;
    }
    .registration-form {
        padding: 15px;
    }
    .form-item input {
        height: 40px;
    }
    .registration-form__success-info {
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .registration-form__success .registration-form__info {
        position: static;
        margin-top: 40px;
    }
}