@media (max-width: 768px) {
    .registration-wrap {
        flex-direction: column;
    }
    .registration-title {
        width: 100%;
        padding: 10px 20px;
    }
    .registration {
        display: block;
    }
    .registration-title__text {
        position: static;
        transform: none;
        writing-mode: unset;
    }
    .registration-form {
        width: 100%;
    }
    .registration {
        height: auto;
    }
    .registration-wrap {
        width: 100%;
        height: auto;
    }
    .registration-form__wrap {
        flex-direction: column;
    }
    .form-item {
        width: 100%;
    }
    .select-item {
        width: 30%;
    }
    .registration-form__row {
        position: static;
        padding-right: 0;
    }
    .registration-form__wrap > * {
        margin: 5px 0;
    }
}